<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,800&display=swap" rel="stylesheet">

{{- partial "katex_support.html" . }}

<style type="text/css">

article {
        margin-right: 0%;
    }

@media (min-width: 992px) {

    article {
        margin-right: 0%;
    }
}

@media (min-width: 1281px) {

    article {
        margin-right: 0%;

    }
}

@media (min-width: 1400px) {

    article {
        margin-right: 0%;
    }
}

@media (min-width: 1600px) {

    article {
        margin-right: 0%;
    }
}


#R-header-wrapper, #R-homelinks
{
  background-color: #004d66   ;
}

#R-header-wrapper{
   padding-top: 20%;
    
}

#R-homelinks a{
    color: #FFF;
}

#R-homelinks hr.padding {

    border-color: #004d66 ;
}

#R-shortcuts .nav-title {

    font-size: 1.2rem;
    font-weight: 600;

}

#R-shortcuts ul.space li a{

    font-size: 1rem;
    font-weight: 400;
    color: white;

}

#R-shortcuts ul.space li a i{

    font-size: 1.1rem;

}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    font-size: 1.1rem !important;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    text-transform: none;
    color: #303570;
    font-weight: 700;
}


h1 {
    font-family: "Open Sans", "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-size: 1.9rem !important;
}

h2, h3, h4, h5, h6  {
    font-family: "Open Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;

}

h2 {
    font-size: 1.5rem !important;
}

h3 {
    font-size: 1.5rem !important;
}

h4 {
    font-size: 1.35rem !important;
}

h5 {
    font-size: 1.3rem !important;
    color: #0073e6;
    font-style: italic;
}

h6 {
    font-size: 1.2rem !important;
    color: #0073e6;
    font-style: italic;
}

.author{
    font-weight: 600;
    font-family: "Open Sans";
    font-size: 1.1rem !important;
    color: #111;
    text-transform: capitalize;
}

.pubdate{
    font-size: 1.1rem !important;
    font-weight: 400;
    font-family: "Open Sans";
    color: #888;
    text-transform: uppercase;
}

hr.header{
    background-color:#DDD;
    height: 2px;
    border: none;
}

em {

font-weight: 400;
font-family: "Work Sans";
font-style: italic;

}

strong{
    font-weight: 900;
    font-family: "Open Sans";
}

pre {
border-radius: 5px;
}

a {
    color: #408bd6;
    font-weight: 700;
}

a:hover{
    color: #408bd6dc;
}

.dataframe tbody tr th:only-of-type {
    vertical-align: middle;
}

.dataframe tbody tr th {
    vertical-align: top;
}

.dataframe tbody tr td {
    text-align: right;
}

.dataframe thead th {
    text-align: left;
}

#R-body .tab-nav-button.active  {
    background-color: orange;
}


@media (prefers-color-scheme: dark) {

 h1, h2, h3, h4 {
   color:   #4da6ff;
 }

 h5, h6 {
   color:   #8ec1f4;
 }

 .author{
   color: #CCC;
}
}

</style>
